@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #E3E3E9;
    overflow-x: hidden;
  }

  a,
  button,
  select {
    transition: all 0.15s ease-in;
  }

  .font-inter {
    font-family: 'Inter', sans-serif !important;
  }

  .font-roboto {
    font-family: "Roboto", sans-serif !important;
  }

  .container {
    width: 100%;
  }
}